@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Space Grotesk';
}

.bg-img {
  max-height: 83px;
  width: 100%;
  background-position: center;
  background-repeat: round;
  background-size: cover;
  position: relative;
}

@media (max-width: 1024px) {
  .logo {
    width: 300px;
    display: flex;
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 300px;
    display: flex;
    justify-self: center;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .cardmedia {
    width: 100vw;
    display: flex;
    flex-direction: columns;
    justify-self: center;
  }
}

@media (max-width: 1024px) {
  .mapgoogle {
    height: "45vh";
    width: "100vw";
    display: flex;
    justify-content: center;
    margin-top: 0;

  }
}

@media (max-width: 1024px) {
  .buttons {
    margin-top: -10;

  }
}

 